<h1>File: <%= @binary.name %></h1>
<%= link_to 'Download' %>

<div class="preview">
<%= render_preview(@binary) %>
</div>

<%= render partial: 'shared/comments_form' %>

<div class="comments">
  <% @binary.comments.each do |comment| %>
    <p><%= comment.user.username %></p>
    <p><%= comment.text %></p>
  <% end %>
</div>
