<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href='<%= landing_page_path %>'>Grab Bag</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
        <li><%= link_to "Public Folders", public_folders_path, class: 'nav-link' %></li>
        <li><%= link_to "Folders Shared with Me", users_shared_folders_path(current_user.username), class: 'nav-link' if current_user %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <% if current_admin? %>
        <li> <%= link_to admin_users_path(current_user), class: 'nav-link' do %> <span class="glyphicon glyphicon-list"></span> Users Index</li><% end %>
      <% end %>

      <% if current_user %>
        <li><%= link_to users_dashboard_path(current_user.username), class: 'nav-link' do %> <span class="glyphicon glyphicon-user"></span> My Profile</li> <% end %>
        <li><%= link_to signout_path, class: 'nav-link' do %> <span class="glyphicon glyphicon-log-out"></span> Logout</li><% end %>
      <% else %>
        <li><a class="nav-link" href="<%= facebook_login_path %>"> Login With Facebook</a></li>
      <% end %>
    </ul>
  </div>
</nav>
