<h1>File: <%= @binary.name %></h1>
<%= link_to 'Download', @binary.data_url, class: 'btn btn-primary' %>
<%= link_to 'Delete', @binary.url, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>

<div class="preview">
<%= render_preview(@binary) %>
</div>

<%= render partial: 'shared/comments' %>

<div class="comments">
  <% @binary.comments.each do |comment| %>
    <p><%= comment.user.username %></p>
    <p><%= comment.text %></p>
  <% end %>
</div>
