<!-- <% @folders.each do |folder| %>
  <%= link_to folder.name, folder.url %>
<% end %> -->

<h1>Public Folders</h1>
<div class="folder_contents">
  <table class="table">
    <div class="folders">
      <th>Name</th>
      <th>Type</th>
      <th>Date Changed</th>
      <th>Owner</th>
      <th></th>
      <% @folders.each do |folder|%>
        <tr>
          <td> <%= link_to folder.name, public_folder_path(folder.encrypted_route)%></td>
          <td>  Folder </td>
          <td> <%=folder.updated_at%></td>
          <td> <%=folder.owner.username%></td>
          <% if current_admin? %>
          <td> <%= link_to 'Delete', public_folder_path(folder.encrypted_route), data: {confirm: 'Are you sure? This will delete all the contents inside the folder as well.'}, method: :delete, class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
      <br>
    </div>
  </table>
</div>
