

<div class="form-group", style="width:50%;">
  <%= form_for @folder, url: "/#{current_user.username}/folders" do |f| %>
  <%= f.hidden_field :type, value: 'folder' %>
    <div class="form-group">
    <%= f.label :name  %>
    <%= f.text_field :name, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :private %>
    <%= f.radio_button :permission, "personal", checked: true%>
    <%= f.label :public %>
    <%= f.radio_button :permission, "global" %>
  </div>

    <%= f.submit "Create", class: "btn btn-default" %>
  <% end %>
</div>
